body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg-image {
    background-image: url("/img/lavander.jpg");

    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.active> a:hover {
  background-color: red;
}

.nav-link {
    color: #9030d9;
}

.nav-item>a:hover {
    color: #9030d9;
    background-color:#c4c4c4;
}
.nav-item>.active>a:hover {
    background-color:red;
}
.login-form {
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	width: 400px;
	font-size: 15px;
}

.login-form {
	margin-bottom: 15px;
	padding: 30px;
    background-color:#d1a2f5;
    border-radius:10px;
}

.login-form h2 {
	margin: 0 0 15px;
	color: #9030d9;
}
.card {
    background-color:#d1a2f5;
    border:0;
}
.form-control{}

.btn {
	min-height: 38px;
	border-radius: 2px;
	background-color:#9030d9
}
.btn {
    border-color:#9030d9;
	font-size: 15px;
	font-weight: bold;
}
.logo-lg {
	width: 70px;
	height: 70px;
	margin-top:50px;
	-webkit-filter: drop-shadow( 0 0 8px white);
	filter: drop-shadow( 0 0 8px white);
}